body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    margin-left: 5%;
    margin-right: 5%;
    /* background-color: #EEEEEE; */
}

#intro {
    font-size: 16px;
    text-align: center;
}

.carrycell {
    width: 60%;
}

.supportcell {
    width: 40%;
}

.clear {
    height: 30px;
}